.footer-bottom-main {
    padding: 10px;
    border-top: 1px solid rgb(227, 223, 223);
  }

  

  .left-bottom
  {
      margin-top: 0px;
      padding-left: 1rem;
      text-align: left;
  
  }
  

 