.apply-coupon-main {
  height: 120px;
  width: 280px;
  background: #ffffff;
  border-radius: 8px;
}
.apply-coupon-heading {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #231f20;
  padding: 10px;
}

.coupon-field-main {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.coupon-field
{
  border: none;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.offer
{
   margin-right: 10px;
}
::placeholder
{
  font-size: 13px;
line-height: 16px;
color: #7F8386;
}